.main_contiainer {
  max-width: 100%; 
  padding: 10px;
  background: #FFF;
  @media screen and (min-width: 1000px) {
    margin: 30px auto 0;
    max-width: 940px; 
    padding: 20px;
    border-radius: 20px;
  }
}

#chart_container {
  max-width: 900px; 
  min-width: 310px; 
  height: 250px; 
  @media screen and (min-width: 1000px) {
    height: 400px; 
  }
}

#rockin_form {
  padding-top: 20px;
  div.input {
    @media screen and (min-width: 1000px) {
      float: left;
    }
    & > label {
      display: block;
      font-size: pxToEm(12);
      color: #999;
    }
    &:nth-child(1) {
      margin-bottom: 10px;
      @media screen and (min-width: 1000px) {
        margin-bottom: 0;
        width: 65%;
      }
    }
    &:nth-child(2) {
      @media screen and (min-width: 1000px) {
        float: right;
        width: 30%;
      }
    }
    &:nth-child(3) {
      width: 100%;
    }
  }

  .radios {
    padding: 15px 0;
    ul {
      @include kill-list;
      li {
        margin-right: 15px;
        text-transform: capitalize;
      }
    }
  }

  input {
    width: 100%;
    padding: 6px;
    border: 1px solid #CCC;
    border-radius: 4px;
  }

  input[type="submit"] {
    width: 100%;
    @include font-condensed(22);
    background: $red;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 10px;
    @media screen and (min-width: 1000px) {
      margin-bottom: 0;
    }
  }
}

.highcharts-legend-item {
  text-transform: capitalize;
}